{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="d-flex justify-content-center mt-5 mb-5">Liste des formations</h1>

	<table class="table table-hover table-striped" border="1">
		<thead class="bg-info">
			<tr>
				<th>#</th>
				<th>Titre
				</th>
				<th>Begin_at</th>
				<th>Duree</th>
				<th>Price</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody class="table-light">
			{% for formation in lesFormations %}
				<tr>
					<td>{{formation.id}}</td>
					<td>{{formation.titre |upper}}</td>
					<td>{{formation.beginAt |date('d/m/y')}}</td>
					<td>{{formation.duree}}</td>
					<td>{{formation.price}}</td>
					{% if formation.image is not empty %}
					<td><img class="w-25" src="{{publicPath~formation.image}}"/></td>
					{% else %}
					<td>Cette formation n'a pas d'image.</td>
					{% endif %}
					
					
					<td>
						<a class="btn btn-info" href="{{path('editF',{'id':formation.id})}}">Modifier</a>
						<a class="btn btn-danger" href="{{path('formation_delete',{'id':formation.id})}}">Supprimer</a>
						
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun abonné</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
