{% extends 'base.html.twig' %}
{% block body %}
	

	<table class="table table-hover table-striped" border="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Titre
				</th>
				<th>Price</th>
				<th>Duree</th>
				<th>Begin_at</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in lesFormations %}
				<tr>
					<td>{{formation.id}}</td>
					<td>{{formation.titre |upper}}</td>
					<td>{{formation.beginAt |date('d/m/y')}}</td>
					<td>{{formation.duree}}</td>
					<td>
						<a class="btn btn-info" href="{{path('editF',{'id':formation.id})}}">Modifier</a>
						<a class="btn btn-danger" href="{{path('formation_delete',{'id':formation.id})}}">Supprimer</a>
						
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun abonné</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
